:root {
  --primari-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: #f5f5f5;
  color: var(--primari-text-color);
}

.logo {
  color: #000000;
}

.logo > span {
  color: #2196f3;
}

.list {
  list-style: none;
}

.menu-nav .link {
  color: var(--primari-text-color);
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}

.menu-nav .link.current {
  color: var(--accent-color);
}

.contact .link {
  color: var(--title-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.hero-title {
  color: #ffffff;
}

.peculiarities-title {
  color: var(--primari-text-color);
}

.features-list .title {
  color: var(--primari-text-color);
}

.features-list .title-text {
  color: var(--title-text-color);
}

.our-work-title {
  color: var(--primari-text-color);
}

.our-teams-title {
  color: var(--primari-text-color);
}

.teams .title {
  color: var(--primari-text-color);
}

.teams .text {
  color: var(--title-text-color);
}

.btn-primary {
  background-color: var(--accent-color);
  color: #ffffff;
}
